<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Do Go!</title>
<link href="../../resources/css/mainV.css" rel="stylesheet" type="text/css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Line Menu Styles</title>
		<meta name="description" content="An open collection of menu styles that use the line as a creative design element" />
		<meta name="keywords" content="web design, styles, inspiration, line, pseudo-element, SVG, animation" />
		<meta name="author" content="Codrops" />
		<link rel="stylesheet" type="text/css" href="../../resources/css/menuform.css" />
</head>
<body>
<div id="bg">
	<img src="/doggybeta/resources/images/giphy.gif" alt="" >
</div>
<section class="upperMenu" id="je">
				<h2 class="sectiontitle">none context</h2>
				<nav class="mm2">
						<ul class="underLine">
								<li class="menu1">
									<a class="menuLink" href="https://doghuggy.com/">Search Host</a>
									<ul>
										<li><a href="https://www.naver.com/">맡기기</a></li>
										<li><a href="#">산책시키기</a></li>
										<li><a href="#">목욕시키기</a></li>
									</ul>
								</li>
								<li class="menu1"><a class="menuLink" href="https://doghuggy.com/">Register Host</a></li>
								<li class="menu1"><a class="menuLink" href="https://doghuggy.com/">Board</a></li>
								<li class="menu1"><a class="menuLink" href="https://doghuggy.com/">Sign In</a></li>
								<li class="menu1"><a class="menuLink" href="https://doghuggy.com/">About Us</a></li>
						</ul>
				</nav>
</section>

</body>
</html>