<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="/api1/resources/js/jquery-3.3.1.min.js"></script>
<script>
	function addItem(){
		if(!window.sessionStorage){
			alert("sessionStorage api가 제공되지 않음");			
		} else {
			sessionStorage.setItem($('#key').val(),$('#value').val());
			$('#key').val("");
			$('#value').val("");
		}
	}
	
	function getValue(){
		const key = document.querySelector('#getKey');
		alert(sessionStorage.getItem(key.value));
	}
	
	function getAll(){
		for(const i in sessionStorage){
			console.log(sessionStorage[i]);
		}
	}
	
	function deleteItem(){
		
	}
	
	function clearAll(){
		sessionStorage.clear();
	}
</script>
</head>
<body>
<h1>sessionStorage 테스트</h1>
<h5>sessionStorage 저장방식은 localStorage와 같음<br>
도메인 별로 저장 공간을 할당함. 다른점은 브라우저가 닫히면 저장된 정보는 자동 삭제됨</h5>

키:<input id="key"><br>
값:<input id="value"><br>
<button onclick="addItem();">데이터 추가</button>
<hr>
<h3>localStorage에 저장된 값 조회하기</h3>
조회할 키 : <input type="text" id="getKey"><br>
<button onclick="getValue();">값 조회</button>
<h3>localStorage에 저장된 값 모두 조회하기</h3>
<button onclick="getAll();">모두조회</button>
<hr>
<h3>localStorage의 값 제거하기</h3>
제거할 키: <input id="delKey">
<button onclick="deleteItem();">제거</button>
<br>
<hr>
<h3>localStorage 모두 비우기</h3>
<button onclick="clearAll();">비우기</button>
</body>
</html>